.rectangle {
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;

  font-size: 24px;
}

.red-border {
  border: 2px solid red;
}

.green-border {
  border: 2px solid green;
}

.rectangle-row {
  display: flex;
  justify-content: space-between;
}

.rectangle-wrapper {
  gap: 25px;
  display: flex;
  flex-direction: column;
}
